<div align="right">
    <button type="button" >Logout</button>
</div>

<div align="center">
    <h1>{{title}}</h1>
    <h2>{{statusMessage}}</h2>
    
    <button type="button">View Your Immunization Record</button>
    <button type="button">Update Your Record</button>
    <button type="button">Request Your Record Sent</button>
    <h3>Not sure what immunizations you need next? Click the survey below:</h3>
    <button type="button">Reccomended Immunization Survey</button>
</div>